<div class="row">
    <div class="input-field col s12">
      <!-- Добавляем ng модель, чтобы мы могли следить за изменениями.
      Байндим значение данного input на переменную size
      Теперь в setup-page-component.ts нам нужно эту переменную size создать -->
      <input [(ngModel)]="size" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">Количество пользователей</label>
      <!-- При клике на данную кнопку мы будем менять состояние и количество записей, которые грузятся у нас с сервера.
      На кнопку вешаем событие click и сюда будет передаваться call back onChange().
      Данный call back onChange() мы создадим в setup-page-component.ts
      и также переменную size нужно создать в users.service.ts -->
    </div>
    <a class="waves-effect waves-light btn" (click)="onChange()">Изменить</a>
</div>
