<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Приложение</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Angular работает через свой собственный роутинг, он делает добавление в историю определенного роута и т.д. 
        В routerLink указываем путь, по которому перейдет данная ссылка. (6.1 шаг - создание роутов).
        Теперь нужно реализовать функционал страницы setup:
        переходим в setup-page.component.html и добавляем форму. (1 шаг - функционал страницы setup) -->
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/setup">Настройка</a></li>
      </ul>
    </div>
</nav>

<div class="container">
   <!-- Сюда мы должны складывать наши страницы Главную и настройка.
   Чтобы указать Angular, что нам нужно рендерить страницы именно в данный див, пишем тег router-outlet -->
   <router-outlet></router-outlet>

   <!-- Теперь главная открывается по умолчанию, а при добавлении в url setup идет переход на нов. страницу.
   Нам нужно реализовать переход по страницам через панель навигации и без перезагрузки.
   Для этого нужно добавить спец. директиву routerLink вместо href (т.о. мы ссылку делаем понятной Angular-роутеру). (6.0 шаг - создание роутов) -->
</div>
