<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Приложение!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Angular работает через свой собственный роутинг, он делает добавление в историю определенного роута и т.д. 
        Директива routerLink понятна Angular-роутеру, в routerLink пишем путь, по которому перейдет данная ссылка -->  
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/setup">Настройки</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<!-- Сюда мы должны складывать наши страницы.
Чтобы указать Angular, что нам нужно рендерить страницы именно в данный див, пишем тег router-outlet -->
   <router-outlet></router-outlet>
</div>

