<!-- col s3, т.е. элемент займет 3/12 страницы, 4 карточки в ряд -->
<div class="col s3">
        <div class="card" appHover>
          <div class="card-image">
            <img src="{{ user.image }}">
            <!-- Чтобы добавлять динамический класс по условию, мы можем воспользоваться директивой
            мы должны ее забайндить
            в [] пишем название директивы и внутри значения данного атрибута пишем js:
            передать объект, где ключ данного объекта будет название созданного класса (marked)
            и в качестве значения должно быть условие, в данном случае мы берем его из user.component -->
            <span 
               class="card-title"
               [ngClass] = "{'marked': isMarked}">
               <!-- тут мы можем применить спец. пайп, кот. для отображения изменить строчку user.name
               для этого, после того, как выводится сущность, в данном слачае имя, мы ставим |, тем самым делая вызов пайпа
               и указываем названием данного пайпа, напр. uppercase -->
               {{ user.name | uppercase }}
            </span>
          </div>
          <div class="card-content">
            <p>{{ user.geo }}</p>
          </div>
          <div class="card-action">
            <!-- Ставим обрабочик событий на кнопку отметить 
            байндим спец. свойство: в () пишем событие click,
            после чего как значение данного атрибута нужно передать название метода, кот. быдет выполняться/
            Теперь нужно создать данный метод onClick() в user.component -->
            <a 
            (click) = "onClick()"
            class="waves-effect waves-light btn">отметить</a>
          </div>
        </div>
</div>