<div class="col s3">  <!-- col s3, т.е. элемент займет 3/12 страницы, 4 карточки в ряд -->
        <div class="card" appHover>
          <div class="card-image">
            <img src="{{ user.image }}">

            <!-- Чтобы добавлять динамический класс по условию, мы можем воспользоваться директивой и мы должны ее забайндить.
            В [] пишем название директивы, напр. ngClass и внутри значения данного атрибута пишем JavaScript:
            сюда мы должны передать объект, где ключ данного объекта будет название созданного класса (marked).
            И в качестве значения должно быть условие, оно называется у нас isMarked,
            которое мы берем из user.component.ts. (5.2 шаг - директивы) 
            
            Вкратце что происходит: мы нажали на кнопку отметить, в этом шаблоне (шаблоне user.component.html) мы папали а метод onClick() и
            в user.component.ts мы поменяли внутренне поле isMarked на true.
            Далее в этом шаблоне мы проверяем, если у нас это поле isMarked true, то в таком случае мы добавляем класс marked.
            Поэтому класс marked у нас просто добавляется в динамическом режиме. -->
            <span 
               class="card-title"
               [ngClass] = "{'marked': isMarked}">

              <!-- Напр. мы хотим, что имя юзера выводилось в верхнем регистре.
              И по какой-то причине мы не хотим менять css.
              В шаблоне {{ user.name }} выводится нужное нам поле и мы можем применить спец. пайп, кот. для отображения изменит строчку user.name.
              Для этого, после того, как выводится сущность, в данном случае имя, мы ставим |
              После этого Angular поймет, что мы вызываем некоторый пайп и далее нам нужно указать название данного пайпа,
              в нашем случае uppercase.
              Теперь все имена в верхнем регистре.

              (Пайпы - это маленькие конструкторы, которые позволяют нам быстро форматировать данные в удобный нам формат.
              Существует много встроенных пайпов в Angular. Они работают со строками, датами, валютами, числами и мн. др.,
              но также они могу служать нам, как и некоторые свойства для фильтрации данных.) -->
               {{ user.name | uppercase }}
            </span>
          </div>
          <div class="card-content">
            <p>{{ user.geo }}</p>
          </div>
          <div class="card-action">
            <!-- Ставим обрабочик событий на кнопку отметить, байндим спец. свойство:
            пишем событие (click), после чего как значение данного атрибута нужно передать название метода, кот. будет выполняться,
            назовем его, напр., onClick(). (1 шаг - директивы)
            Теперь нужно создать данный метод onClick() в user.component.ts (2.0 шаг - директивы) -->
            <a 
            (click) = "onClick()"
            class="waves-effect waves-light btn">отметить</a>
          </div>
        </div>
</div>