.card-content {
    height: 130px;
}

/* создадим класс, который будет менять состояние карточки user при клике на кнопку отметить.
Данный класс нужно повестить, если пользователь был помечен.
Вешать мы его будем в user.component.html на <span class="card-title">. (5.1 шаг - директивы) */
.marked {
    font-weight: bold;
    color: red!important;
}

/* при наведении нужно будет добавлять спец. класс.
Этот класс будем вешать, если мышка наведена над элементом. */
.hovered {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s all;
    z-index: 10;
}