.card-content {
    height: 130px;
}

// создадим класс, который будет менять состояние карточки user при клике на кнопку отметить
// данный класс нужно повестить, если пользователь был помечен
.marked {
    font-weight: bold;
    color: red!important;
}

// при наведении нужно будет добавлять спец. класс
// этот класс будем вешать, если мышка наведена над элементом
.hovered {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s all;
    z-index: 10;
}