<!-- Из app.component.html переносим шаблон в home-page-component.html.
Нужно добавить также поля из app.component.ts, берем и копируем весь его функционал в home-page-component.ts -->

    <!-- Мы хотим, чтобы мы вписывали в input какой-то текст, который будет фильтровать по имени, т.е. в списываем в поле имя Angie
    и покажется только карточка этого человека
    Для начала нам нужно считать инфо, кот. хранится в input. В пайп нам нужно передавать текущее состояние input.
    Для этого можно воспользоваться либо call back, повесить на input повесить событие input и считывать по event target различные состояние input,
    либо воспользоваться two way binding - мы можем данному input добавить ngModel, кот. будет автоматически следить за изменениями внутри шаблона и
    внутри компонента за определенным полем.
    Добавляем в input [(ngModel)] и сюда будем передавать переменную, напр. searchStr.
    Данную переменную необходимо создать в app.component, потому что мы работаем именно в его шаблоне

    ng модель работает таким образом: мы будем что-то в input вписывать и сразу же автоматически данное значение будет находиться в переменной searchStr 
    именно для этого у нас используется two way binding -->
    <div class="row">
      <div class="input-field col s6">
          <input id="first_name" class="validate" [(ngModel)] = "searchStr">
          <label class="active" for="first_name">Поиск по имени</label>
      </div>
  </div>

  <div class="row">
    <!-- нам нужно в цикле провести app-user
    цикл for/of(появился в ES6) внутри шаблона, 
    * - дирректива, которая будет менять html
    на каждую из итераций цикла нужно создать переменную
    создаем переменную с помощью ключевого слова let напр. u
    и далее указываем откуда мы эту перемнную берем: of users
    users - название массива из AppComponent
    в синтаксисе мы говорим, что на каждой итерации, для каждого из элементов массива мы будем создавать переменную user
    т.е. на каждой итерации переменная user будет являться данным объектом {name: 'WFM 1'}
    данную переменную user мы хотим передать внутрь данного компонента app-user
    Нам нужно передавать раличные данные в компонент. Для этого: в user.component.ts отмечаем, что мы ожидаем что-то входящее в данный компонент -->

    <!-- app-user ожидает переменную u 
    u - это будет какое-то динамическое свойство, а не просто строка, поэтому мы кладем ее в квадратные скобки
    теперь в каждом компоненте app-user у нас будет доступна переменная u -->
      <app-user
      *ngFor = "let u of users | search:searchStr"
      [user]="u"
      ></app-user>
    <!-- в компоненте мы делаем итерацию по массиву users и тут применяем пайп через | 
    Данный пайп должен принимать значение value, передаем ему searchStr -->  
  </div>
